<div class="signin-main">
  <div class="container signin-form signin-container">
    <fieldset>
      <div class="container-login">
        <%= image_tag "logomarca.png", alt: "Cosanpa", align: "center", height: 60 %>
        <h1><font color="#fff">GSAN</font></h1>
        <div class="inner-wrapper">
          <%= form_for @usuario, url: session_path, html: { class: 'form-horizontal' } do |f| %>
            <%= f.label :nome_usuario, class: "sr-only" %>
            <%= f.text_field :nome_usuario, class: "form-control input-lg", placeholder: "nome", required: true, autofocus: true %>

            <%= f.label :senha, class: "sr-only" %>
            <%= f.password_field :senha, class: "form-control input-lg", placeholder: "senha", required: true %>

            <%= f.submit "Entrar", class: "btn btn-primary btn-lg col-md-12" %>
          <% end %>

          <%= link_to "Esqueci minha senha", "" %>
        </div>
      </div>
    </fieldset>
  </div>
</div>