<div class="row row-submenu" data-modulo-id="<%= submenu[:id] %>">
  <div class="container-submenu">
    <% inicio = 0 %>
    <% tamanho = 10 %>
    <div class="row">
      <% 3.times do %>
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          <% array = submenu[:submenu].slice(inicio, tamanho) %>

          <% unless array.nil? %>
            <% array.each do |funcionalidade| %>
              <% if funcionalidade[:submenu].present? %>
                <li>
                  <a class="funcionalidade-pai" href="">
                    <%= funcionalidade[:descricao] %> 
                    <span><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                  </a> 
                  <ul class="submenu">
                    <% funcionalidade[:submenu].each do |funcionalidade| %>
                      <li><a href=""><%= funcionalidade[:descricao] %></a></li>
                    <% end -%>
                  </ul>
                </li>
              <% else %>
                <li><a href="<%= funcionalidade[:url] %>"> <%= funcionalidade[:descricao] %></a></li>
              <% end -%>
            <% end -%>
          <% end -%>
        </ul>
        <% inicio += tamanho %>
      </div>
      <% end -%>
    </div>
  </div>
</div>