<div class="row">
  <div class="input-group search-group">
    <input type="text" class="form-control search-query" placeholder="Pesquisar por funcionalidades">
  </div>
</div>

<% @menu.numero_de_linhas.times do %>
  <div class="row">
    <% @menu[:menu][:submenu].slice(@menu.inicio, @menu.tamanho).each do |submenu| %>
      <div class="col-md-3 m-b-lg">
        <div class="panel panel-modulo panel-default" data-modulo-id="<%= submenu[:id] %>">
          <div class="panel-body">
            <i class="fa <%= get_icone submenu[:descricao] %> fa-4x" aria-hidden="true"></i>

            <h1> <%= submenu[:descricao] %> </h1>
          </div>
        </div>
        <div class="panel-ligacao">

        </div>
      </div>
    <% end -%>
  </div>

  <% @menu[:menu][:submenu].slice(@menu.inicio, @menu.tamanho).each do |submenu| %>
    <% @menu.inicio_submenu = 0 %>
    <%= render partial: "submenu", locals: { submenu: submenu } %>
  <% end -%>

  <% @menu.inicio += @menu.tamanho  %>
<% end -%>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function(){
      $( ".search-query" ).autocomplete({
        minLength: 2,
        source: <%= raw @menu_to_search.to_json %>,
        select: function( event, ui ) {
          window.location.href = ui.item.url;
        }
      });
    });
  </script>
<% end %>
